@import '../../../stylesheets/abstract/index.scss' ;

.google-auth {
    .g-icon {
        align-items: center;
        display: flex;
        background-image: linear-gradient(318deg, $primary-blue, $dark-blue);
        border: none;
        border-radius: 50%;
        height: 4.1rem;
        justify-content: center;
        padding: 0;
        width: 4.1rem;

        img {
            height: 60%;
            width: 60%;
        }
    }
}